
@{
    ViewBag.Title = "关于我们";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<!-- banner-bottom -->
<div class="banner two">
</div>
<div class="contact">
    <div class="container">   
       <!--视频-->
        @*<div class="featured-post">
            <div class="container">
                <div class="test-text">
                    <div id="top" class="callbacks_container">
                        <video controls="controls" style="width: 100%" autoplay="autoplay">
                            <source src="../../PIC/video.mp4" type="video/mp4" />
                        </video>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>*@
        <!--乐园简介-->
        <div class="container">
            <div class="col-md-3 top-games">
                <h3>乐活乐宝</h3>
                <p>
                    “乐活乐宝”是一座新型的、综合性极强的儿童乐园，
                    所有设备遵照脱管式，无安全员的安全标准，让孩子自由发挥。
                    是针对儿童喜欢钻、爬、滑、滚、晃、荡、跳、摇等天性设计，
                    主要适合尝试拓展体验的3-15周岁的少年儿童。
                </p>
            </div>
            <div class="col-md-9 g-views">
                <ul id="flexiselDemo3">
                    <li>
                        <div class="biseller-column">
                            <a class="lightbox" href="#goofy">
                                <img src="../../PIC/About/s1.jpg" />
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="biseller-column">
                            <a class="lightbox" href="#goofy">
                                <img src="../../PIC/About/s2.jpg" />
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="biseller-column">
                            <a class="lightbox" href="#goofy">
                                <img src="../../PIC/About/s3.jpg" />
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="biseller-column">
                            <a class="lightbox" href="#goofy">
                                <img src="../../PIC/About/s4.jpg" />
                            </a>
                        </div>
                    </li>
                </ul>
                <script type="text/javascript">
                    $(window).load(function () {
                        $("#flexiselDemo3").flexisel({
                            visibleItems: 3,
                            animationSpeed: 1000,
                            autoPlay: true,
                            autoPlaySpeed: 3000,
                            pauseOnHover: true,
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint: 480,
                                    visibleItems: 3
                                },
                                landscape: {
                                    changePoint: 640,
                                    visibleItems: 3
                                },
                                tablet: {
                                    changePoint: 768,
                                    visibleItems: 3
                                }
                            }
                        });
                    });
                </script>
                <script type="text/javascript" src="../../Scripts/JS/jquery.flexisel.js"></script>
            </div>
        </div>
        <div id="blog" class="blog-section">
            <div class="container">
                <div class="blog">
                    <div class="col-md-4 blog-text">
                        <a><h4>田园美景</h4></a>
                        <h4>&nbsp;</h4>
                        <p>“乐活乐宝亲子农场”位于明月山下、长江之畔，
                        有着得天独厚的江边风景，可以为家庭提供星空露营，
                        风景合影。并有水果蔬菜采摘，制面教学。</p>
                    </div>
                    <div class="col-md-8 welcome-img">
                        <a  class="mask"><img src="../PIC/About/t1.jpg" alt="image" class="img-responsive zoom-img"></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="blog">
                    <div class="col-md-4 blog-text two">
                        <a><h4>农业科普教育</h4></a>
                        <h4>&nbsp;</h4>
                        <p>通过科学的立体组合形成一个集游乐、运动、益智、
                        健身为一体的新一代儿童活动中心，
                        该设施有利于充分发挥活力和想象力，锻炼身体。</p>
                    </div>
                    <div class="col-md-8 blog-img two">
                        <a class="mask"><img src="../PIC/About/t2.jpg" alt="image" class="img-responsive zoom-img"></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="blog">
                    <div class="col-md-4 blog-text">
                        <a><h4>游乐设备</h4></a>
                        <h4>&nbsp;</h4>
                        <p>有利于提升小朋友争强好胜、不甘落后、勇于拓展、
                        团结互助等心理素质，使孩子们更加健康快乐成长,达到强身健体、健脑益智的作用。</p>
                    </div>
                    <div class="col-md-8 welcome-img">
                        <a class="mask"><img src="../PIC/About/t3.jpg" alt="image" class="img-responsive zoom-img"></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>    

            
        </div>
        <h3>&nbsp;</h3>
    </div>
</div>



